@media (max-width: 991.99px) {
    .leftPage {
        display: none;
    }

    .mainHeader {
        font-size: 45px;
        margin-top: 10%;
    }

    .introHead {
        margin-top: 10%;
    }

    .buttonLogin,
    .buttonApplication {
        width: 30%;
        margin-left: 10%;
        margin-right: 10%;
    }

    /* .buttonApplication {
        width: 25%;
        margin-right: 20%;
        margin-top: 20%;
    } */

    p {
        font-size: 3vw;
    }

}

@media (max-width: 576px) {
    .mainHeader {
        margin-top: 15%;
        font-size: 35px;
    }

    .introHead {
        font-size: 18px;
    }

    p {
        font-size: 4vw;
    }
}